*{
	margin: 0;
	padding: 0;
	border:none;
	font-size: 1.5625vw;
	font-family: 'Microsoft YaHei'
}
body,html{
	height: 100%;
	overflow: hidden;
}

/* 唱片 */

.music{
	position: fixed;
	top:3vh;
	right: 4vw;
	z-index: 5;
	width: 15vw;
	height: 15vw;
	background-color: #fff;
	border:4px solid #ef1639;
	border-radius: 50%;
}
.music > img:first-of-type{
	position: absolute;
	top:24%;
	right: 2.5%;
	width: 28.421%;
	z-index:1;
}
.music > img:last-of-type{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 79%;
	z-index:0;
}
.music img.play{
	-webkit-animation:music_disc 4s linear infinite;
			animation:music_disc 4s linear infinite;
}
@keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
				transform:rotate(360deg);

	}
}

/* 背景层 */
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	
}
.page .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* page1 */
#page1{
	display: block;
}
#page1 .bg{
	background: url('../imgs/p1_bg.jpg') center center no-repeat;
	background-size: 100%;
}
#page1 .p1_lantern{
	position: absolute;
	top:-3.4%;
	right: 0;
	left: 0;
	margin: auto;
	width: 45vw;
	height: 71.2vh;
	background: url('../imgs/p1_lantern.png') center bottom no-repeat;
	background-size: 100%;
	font-size: 3.506rem;
	color:#fff;
	padding-top: 31vh;
	text-align: center;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
#page1 .p1_lantern:before{
	content: "";
	z-index: -1;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 30vw;
	height: 30vw;
	background: #d60b3b;
	border-radius: 50%;
	opacity: .5;
	box-shadow: 0 0 10vw 10vw #d60b3b;
	animation:p1_lantern .5s infinite alternate;
}
@keyframes p1_lantern{
	0%{
		opacity: .5;
		transform: scale(0.8,0.8);
		
	}
	100% {
		opacity: 1;
	
	}
}

#page1 .p1_imooc{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 9vh;
	background: url('../imgs/p1_imooc.png') center center no-repeat;
	background-size: 100%;
	width: 27.656vw;
	height: 18.63vh;
	margin: auto;

}
#page1 .p1_words{
	font-size: 2.134rem;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 48px;
	text-align: center;
	color:#231815;

}
/* page2 */
#page2{
	display:none;
	transition:all 1s;
}
#page2.fadeOut{
	opacity: .3;
	transform:translate(0,-100%);
}
#page2 .bg{
	background: url('../imgs/p2_bg.jpg') center center no-repeat;
	background-size: 100%;
}
#page2 .p2_circle .circle_outer{
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background: url('../imgs/p2_circle_outer.png') no-repeat center center;
	background-size: 100%;
	width: 60vw;
	height: 60vw;
	animation:p2_circle_outer 2s linear 3s infinite ;
}
@keyframes p2_circle_outer{
	0%{
		transfrom:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
	}
}
#page2 .p2_circle {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background-size: 100%;
	width: 60vw;
	height: 60vw;
	
}





 #page2 .p2_circle .circle_middle{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background: url('../imgs/p2_circle_middle.png') no-repeat center center;
	background-size: 100%;
	width: 45vw;
	height: 45vw;
	animation:p2_circle_middle 1s linear 2s infinite ;
} 
@keyframes p2_circle_middle{
	0%{
		transfrom:rotate(0deg);
	}
	100%{
		transform:rotate(720deg);
	}
}

#page2 .p2_circle .circle_inner{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background: url('../imgs/p2_circle_inner.png') no-repeat center center;
	background-size: 100%;
	width: 40vw;
	height: 40vw;
	animation:p2_circle_inner 1s linear 1s infinite ;
} 
@keyframes p2_circle_inner{
	0%{
		transfrom:rotate(0deg);
	}
	100%{
		transform:rotate(-1080deg);
	}
}
#page2 .p2_2016{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../imgs/p2_2016.png') no-repeat center center;
	background-size: 100%;
	width: 27.5vw;
	height:6.24vh;
}

/* page3 */
#page3{
	display: none;
	transition:.5s;
}
#page3.fadeIn{
	transform:translate(0,-100%);

}
#page3 .bg{
	background: url('../imgs/p3_bg.jpg') center center no-repeat;
	background-size: 100%;
}

#page3 .p3_title{
	width: 48.125vw;
	height: 50vh;
	position: absolute;
	top:21vh;
	right: 0;
	left: 0;
	margin: auto;
	background: url('../imgs/p3_title.png') center center no-repeat;
	background-size: 100%;

}
#page3 .p3_second{
	width: 23vw;
	height: 42vh;
	position: absolute;
	top:26vh;
	left: 4vw;
	background: url('../imgs/p3_couplet_second.png') center center no-repeat;
	background-size: 100%;
}
#page3 .p3_first{
	width: 23vw;
	height: 42vh;
	position: absolute;
	top:26vh;
	right: 4vw;
	background: url('../imgs/p3_couplet_first.png') center center no-repeat;
	background-size: 100%;
}
#page3 .p3_blessing{
	width: 32vw;
	height: 32vw;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 10vh;
	margin: auto;
	border-radius: 50%;
	background: url('../imgs/p3_blessing.png') center center no-repeat;
	background-size: 100%;
	animation:p3_blessing 2s linear infinite;
}
@keyframes p3_blessing {
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}